
.slidingDiv_v1 {
	height: auto;
	padding:1px 1px 1px 1px;
	width: auto;
}

.show_hide_v1 {
	display:none;
}	

.noborder
{
   
    border-style: none !important;

}

/* ---------------------------------- */

.slidingDiv_v2 {
	height: auto;
	padding:1px 1px 1px 1px;
	width: auto;
}

.show_hide_v2 {
	display:none;
}	
/* ---------------------------------- */


.slidingDiv_v3 {
	height: auto;
	padding:1px 1px 1px 1px;
	width: auto;
}

.show_hide_v3 {
	display:none;
}	
/* ---------------------------------- */

.slidingDiv_v4 {
	height: auto;
	padding:1px 1px 1px 1px;
	width: auto;
}

.show_hide_v4 {
	display:none;
}	
/* ---------------------------------- */


.slidingDiv_v5 {
	height: auto;
	padding:1px 1px 1px 1px;
	width: auto;
}

.show_hide_v5 {
	display:none;
}	
/* ---------------------------------- */

.slidingDiv_v6 {
	height: auto;
	padding:1px 1px 1px 1px;
	width: auto;
}

.show_hide_v6 {
	display:none;
}	
/* ---------------------------------- */

.slidingDiv_v7 {
	height: auto;
	padding:1px 1px 1px 1px;
	width: auto;
}

.show_hide_v7 {
	display:none;
}	
/* ---------------------------------- */

.slidingDiv_v8 {
	height: auto;
	padding:1px 1px 1px 1px;
	width: auto;
}

.show_hide_v8 {
	display:none;
}	
/* ---------------------------------- */

.slidingDiv_v9 {
	height: auto;
	padding:1px 1px 1px 1px;
	width: auto;
}

.show_hide_v9 {
	display:none;
}	
/* ---------------------------------- */

.slidingDiv_v10 {
	height: auto;
	padding:1px 1px 1px 1px;
	width: auto;
}

.show_hide_v10 {
	display:none;
}	
/* ---------------------------------- */

