/*
Author: Usable web sites
Author URI: http://www.usablewebsites.com.au/
Tags: inderscience, fluid width, two columns
*/

/* -------------------- Resets --------------------- */
body, form, fieldset, ol, ul, li, h1, h2, h3, h4, h5, h6, p {
margin:0;
padding:0;
}
img {
border:0; /* kills Gecko bug when imgs are placed inside links */
vertical-align:bottom; /* set vertical align to bottom for IE */
}



/* --------------- colour scheme -------------- */
/*
#982600 - orange
#003399 - blue
#333 - grey 
#b3dced - body background
 
#222 -  near black

Ariel, sans-serif - font-family 
*/


/* GENERAL */

html 
{ 
overflow-y: scroll;
}

body {	
	background: #b3dced;
	font: 100%/1.3em ariel, sans-serif;
	color: #222;
    font-size: .75em;
	
	text-align: left;	
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-text-size-adjust: 100%;

}



a:link 
{
    text-decoration:none;  
	color: #003399;	
}

a:visited {
	text-decoration:none;
    color: #982600;
	/* color: #737373; */
}


a:hover {
	text-decoration:underline;
	color: #982600;
	outline: 0;    
}
a:active {
	text-decoration:underline;
	outline: 1px;    
	color: #982600;
}

p a:link 
{
    text-decoration:none;  
	color: #003399;	
}

p a:visited {
	text-decoration:underline;
    color: #982600;
}
p a:hover {
	text-decoration:underline;
	color: #982600;
	outline: 0;    
}
p a:active {
	text-decoration:underline;
	outline: 1px;    
	color: #982600;
}
#footer a:link {
     
	text-decoration:none;        
}

#footer a:visited {
	text-decoration:none;
     
}


#footer a:hover {
	text-decoration:underline;
	color: #982600;
	outline: 0; 
        
}

.hide {
	display: none;
    padding: 0px;
    margin: 0px;
	}


.centre
{
        margin-left: auto;
        margin-right: auto;
        width: 100px;
}

.postext1
{
	float: left;
    line-height: 1;
	padding: 5px 5px 5px 5px;
	width: 580px;
	margin: 0em 0em 0em 2em;
	
}

.indented
{
	padding-left: 1.25em;
}

.indented2
{
	padding-left: 3em;
}

.indentedlinespace
{
	padding-left: 7em;
	list-style-type: none;
	line-height: 2em;
}

.noliststyle
{
	list-style-type: none;
}

.clearboth { clear: both; }

.notbold
{
	font-weight: normal;
}

.bold
{
	font-weight: bold;
}

.blacktext
{

	color: #000000;
}

.bold_underline
{
	font-weight: bold;
	text-decoration:underline;
}

.normal_underline
{
	font-weight: normal;
	text-decoration:underline;
}

.orange
{
	color: #982600;
	line-height: 1.2em;
}

.boldnarrowline
{
	font-weight: bold;
	line-height: 1.2em;
	font-size: 1em;
	margin-bottom: 1em;
}

.left
{
	text-align: right;
}
#breadcrumbtrail
{
	color: #003399;
	font-size: .75em;
}
#breadcrumbtrail a
{
	padding-right: .5em;
}

/* for journal dropdown menus cropping solution for IE */

#dropdown { 
width:183px;}


/* end */

h1
{
	margin-top: 0.5em;
	color: #039;
	font-size: 1.6em;
}

h2
{
	margin-top: 1em;
	margin-bottom: .5em;
	color: #039;
	font-size: 1.125em;
	
}

h3
{
	margin-top: 1em;
	margin-bottom: .1em;
	color: #039;
	font-size: 1.2em;
	font-weight: normal;
}

.h2orange
{
	font-size: 1.5em;
	font-weight: normal;
	padding-top: .5em;
	margin: .5em 0em .5em 0em ;
	color: #982600;
}



.righttriangle ul li
{
        background: url("images/global/white-triangle-right.png") no-repeat 0 .3em;
        margin: 0 0 0 0em;
		padding-bottom: 1em;
		line-height: 1.25em;
		color: #982600;
		padding-left: 1.5em;
}
.fileicon ul li
{
        list-style-image: url("images/global/fileicon.gif");
        margin: 0 0 0 1em;
		padding-bottom: 1em;
		line-height: 1.25em;
		color: #982600;
		
}

.orangetriangle ul li
{
        background: url("images/global/orange-triangle-right.png") no-repeat 0 .25em; 
		padding-left: 1.5em;
        
		line-height: 1.5em;
		color: #982600;
		
}

.orangetriangle ul li:first-child
{
        margin-top: .5em;
		
}


.bluetriangle ul li
{
        background: url("images/global/blue-triangle-right.png") no-repeat 0 .25em;
        padding-left: 1.5em;	
		line-height: 1.5em;
		color: #003399;
		
}

.blogicon
{
	background: url("images/global/blogicon.png") no-repeat 0 .25em;
	padding-left: 2em;
}

.twittericon
{
	background: url("images/global/twittericon.png") no-repeat 0 .25em;
	padding-left: 2em;
}
.facebookicon
{
	background: url("images/global/facebookicon.png") no-repeat 0 .25em;
	padding-left: 2em;
}
.newslettericon
{
	background: url("images/global/newslettericon.png") no-repeat 0 .25em;
	padding-left: 2em;
}
.rssicon
{
	background: url("images/global/rssicon.png") no-repeat 0 .25em;
	padding-left: 2em;
}
.alertsicon
{
	background: url("images/global/issuealertsicon.png") no-repeat 0 .25em;
	padding-left: 2em;
}
.googleplusicon
{
	background: url("images/global/googleplusicon.gif") no-repeat 0 .25em;
	padding-left: 2em;
}

.pdficon
{
	background: url("http://www.inderscience.com/images/pdf_icon_small.gif") no-repeat 0 .25em;
	padding-left: 2em;
}


.smallfont
{
	font-size: .75em;
}

/* ----------------- */
/* STRUCTURE */
/* ----------------- */

#container
{
min-width: 490px; 
max-width: 915px;
margin: 4px auto 10px auto;
min-height: 100%;
height: auto !important;
height: 100%;
background-color: #fff;
text-align: left;
-moz-border-radius: 8px 8px 0px 0px;
-webkit-border-radius: 8px 8px 0px 0px;
}



/* ----------------- */
/* HEADER */
/* ----------------- */

#header
{      
/* height: 146px;
width: 900px; */

background-color: #fff;  

}

#logo
{
	
	margin-left: 2em;
	margin-top: 1em;
	
}

#byline
{
	
    margin: 0em 0em 0em 9.5em;
	color:#003399;
	font-weight: bold;
	width: 450px;
	
}

#topright
{
	float: right;
    margin: 1em .5em 0em 0em;
	height: 15px;
	width: 100px;
	clear: right;
}

#loginbox

{
	float: right;
	margin: .5em 1.2em 0em 0em;
    font-size: 0.9em;
	line-height: 1.2;
	padding: 1em;
	width: 245px;
	background-color: #e7ebf9;
	height: 104px;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	clear: right;
}
#loginbox h2
{
	margin: 0em;
	color: #039;
}


form.login ul {
	list-style-type:none;
	padding:0;
	
}

/* Position the labels inside the input fields. */
form.login label {
	position:absolute;
	display: none;
	padding: 6px;
}



.button
{	
	position: relative;
	left: 162px;
	top: -65px;
	width: 37px;
	height: 41px;
}

.forgotten
{
	position:relative;
	top: -1.5em;
	left: 18.5em;
	
}

.remember
{
	position:relative;
	
}

#bannertriangle
{
	position: relative;
	clear: both;
	left: -7px;
	top: -15px;
}
#handle
{
	float: right;
	margin-right: -0.8em;
	margin-top: -4.8em;
	
}

#nav
{
    height: 40px;   
    background-color: #e2e3e2;
    margin-top: -1.3em;
    margin-left: -0.6em;
}

#nav ul
{
	margin-left: 2.25em;
	
}
#nav ul li
{
    list-style-type: none;
    float: left;
    color: #000000;
    font-weight: bold;
    margin-right: 2.1em;
    font-size: 1.25em;
    text-align: center;
    text-decoration: none;   
    margin-top: .6em;
    padding-top: .5em;
	position: relative;
}

#nav ul a:link
{
   margin-bottom: 0em;  
   text-decoration: none;
   color: #003399;
}

#nav ul a:visited
{
   margin-bottom: 0em;
   text-decoration: none;
   color: #982600;
  
}

#nav ul a:active
{
   margin-bottom: 0em;
   text-decoration: underline;
   color: #003399;
}

#nav ul a:hover
{
   margin-bottom: 0em;
   text-decoration: underline;
   color: #982600;
  
  
}



body.authors li.authors

{
	background: url(images/global/whitetab3.png) no-repeat;
	width: 99px;
	height:28px;
    margin-right: .8em;
	position: relative;
	
	
}
body.libs li.libs
{
	background: url(images/global/whitetab2.png) no-repeat;
	width: 120px;
	height:28px;
    margin-right: .8em;
	position: relative;
	
	
}
body.orders li.orders, 
body.news li.news 
{
	background: url(images/global/whitetab.png) no-repeat;
	width: 66px;
	height:28px;
    margin-right: .8em;
	position: relative;
}
body.home li.home

{
	background: url(images/global/whitetab.png) no-repeat;
	width: 66px;
	height:28px;
    margin-right: 1em;
	position: relative;
}

.websitesearchform
{
	padding-top: 1em;
	margin-left: 55em;
	
}


	


/* ----------------- */
/* MAIN CONTENT */
/* ----------------- */

/* ----------------- */
/* home page */
/* ----------------- */

#main
{
	display: block;
	padding: 3px;
	background-color: #fff;
	min-height: 500px;
	height:auto !important;
	height: 100%;
	margin-top: -1em;
	overflow: hidden;
}

#maincol1
{
        
    float: left;
	width: 64%;
	margin: 0em 0em 0em .4em; 
    display: block;
	padding: .5em .5em 0em 1em;
    background: url(images/global/sky2.png) no-repeat;
	height: auto;
        }


#innercolleft
{
	float: left;
	padding-right: 1em;


}


#innercolright
{
	float: left;
	padding-left: 4em;
	margin-top: 3em;
	width: 45%;
	
}



#col2
{
	float: left;
	width: 24%;
	display: block;
	padding: .5em 0em 0em 1em;
    
}

#news
{
	clear:left;
	width: 590px;
	display: block;
	height: 170px;
	background: url(images/global/newsbackground2.png) no-repeat;
	margin: 1em 0em 0em -.5em;
	
}

.newsh2
{
	border-bottom: 1px dotted;
	font-size: 1.5em;
	font-weight: normal;
	padding: .6em 0em .4em .5em;
	width: 530px;
	margin-left: .5em;
}
#news2
{
	clear:left;
	width: auto;
	/* 	width: 590px; */
	display: block;
	height: auto;
	/* height: 200px; */
	margin: 1em 0em 0em 0em;
	
}
#news2 h1
{
	border-bottom: 2px #e7ebf9 solid;
	padding-bottom: 5px;
	margin-bottom: .5em;
	width: 3em;
}


#bluesmallrectangle
{
	background: url(images/global/bluesmallrectangle.png) no-repeat;
	height: 59px;
	width: 284px;
	margin-bottom: 1em;
	
}
#bluesmallrectangle h2
{
	font-size: 1.5em;
	font-weight: normal;
	padding-top: .9em;
	padding-left: .2em;
	margin: 0em .5em 0em .5em;
	padding-bottom: .2em;
	border-bottom: 1px dotted;
}

#palerectangle
{
	background: url(images/global/xpalerectangle.png) no-repeat;
	height: 140px;
	width: 242px;
	margin-bottom: 1em;
}

#palerectangle3
{
	background: url(images/global/xpalerectangle1.png) no-repeat;
	height: 170px;
	width: 242px;
	margin-bottom: 1em;
}

#palerectangle4
{
	background: url(images/global/xpalerectangle3.png) no-repeat;
	height: 157px;
	width: 282px;
	margin-bottom: 1em;
}

#palerectangle h2
{
	font-size: 1.5em;
	
	font-weight: normal;
	padding-top: .4em;
	margin: 0em .5em 0em .5em;
	color: #003399;
}

.liststyle
{
	border-top: 1px dotted;
	margin: .5em .7em 1em .6em;
	list-style: none;
	line-height: 1.75em;
}

.liststyle li:first-child
{
        margin-top: .5em;
}

#bluerectangle
{
	background: url(images/global/xbluerectangle.png) no-repeat;
	height: 127px;
	width: 242px;
}

#bluerectangle h2
{
	font-size: 1.5em;
	
	font-weight: normal;
	padding-top: .5em;
	margin: 0em .5em 0em .5em;
	color: #039;
}


.nobgrectangle h2
{
	font-size: 1.5em;
	font-weight: normal;
	padding-top: .5em;
	margin: 1em 0em 0em .5em;
	color: #333;
}

#newsimageslider

{
	background-color: #fff;
	width: 100%;
	height: 250px;
	margin-top: 1em;
	clear: both;
	display:block;
}
.nbrtitles
{	
	margin-bottom: 3px;
	font-size: .8em;
	font-weight: bold;
}


    
/* ------------------------ */
/* for general template */
/* ------------------------ */

#col1
{        
    float: left;
	width: 64%;
	margin: 0em 0em 0em .4em; 
    
	padding: .5em .5em 0em 1em; 
	height: auto;
}



/* -------------------- */
/* for landing pages */
/* -------------------- */

/* ----------------- */
/* Orders page */
/* ----------------- */


#box1
{
	float: left;
    width: 250px;
    margin: .5em;
}

#box2
{
	float: right;
    width: 280px;
    margin: 0em 1em .5em 0em;  
}

#box3
{
	float: left;
    width: 250px;
    margin: .5em;
	
}

.boxtop1
{
	float: left;
    
    width: 235px;
	height: 38px;
	padding:  0px 0px 5px 0px;
	}
	
.boxtop1 h1
{
	border-bottom: 2px #e7ebf9 solid;
	padding-bottom: 5px;
}
.boxtop2
{
	float: left;
    margin: 5px 0 0 0;
    width: 280px;
	height: 38px;
	padding: 0px 0px 5px 0px;
}

.boxtop2 h1
{
	border-bottom: 2px #e7ebf9 solid;
	padding-bottom: 5px;
}
.box1content

{
	float: left;
    line-height: 1.6;
	padding: 5px 5px 5px 10px;
	width: 230px;
	margin: 0em 0em 1em 0em;
	background-color: #e7ebf9;	
}

.box2content

{
	float: left;
    line-height: 1.6;
	padding: 5px 5px 5px 10px;
	width: 280px;
	margin: 0em 0em 1em 0em;
	background-color: #e7ebf9;
}


.boxcontentlist

{
	float: left;
    font-size: 1em;
	line-height: 1.3;
	padding: 5px 2px 0px 2px;
	color: #333;
    width: 230px;
	margin-bottom: 1em;
}

.orderslist
{
	font-size: 1.125em;
	line-height: 1.2em;
	padding-bottom: .5em;
	font-weight: bold;
	color: #039;
}

.bottomborder
{
	border-bottom: 1px dotted #982600;
	width: 250px;
	padding-bottom: 3px;
}
.bottomborder1
{
	border-bottom: 1px inset #333;
	width: 200px;
	padding-bottom: 3px;
}

.offerslist
{
	padding-left: 2em;
	font-size: 1.2em;
	line-height: 2em;
	
	margin-top: 1em;
	
}

.offerslist li
{
	background: url("images/global/orange-triangle-right.png") no-repeat 0 .6em; 
	list-style: none;
	color: #039;
	padding-left: 1.2em;
}

.innerbox
{
	float: left;
	color: #039;
}
.innerbox2
{
	float: left;
	padding-left: 1em;

}

/* ----------------- */
/* News page */
/* ----------------- */

#slider
{
	height: 220px;
	width: 100%;
	clear: both;
	display:block;
	margin-top: 1em;
}
.newsarticledate
{
	font-size: .75em;
	font-style: italic;
	color: #333;

}

.stylerss
{
	height: auto;
	background-color: #e7ebf9;
	padding: .5em;
}

.bluebold
{
	font-weight: bold;
	color: #003399;
}

#box4
{
	
    width: 565px;
    height: 290px;
	
}
.boxtop4
{
	float: left;
    
    width: 250px;
	height: 38px;
	padding:  0px 0px 5px 0px;
	}
	
.boxtop4 h1
{
	border-bottom: 2px #e7ebf9 solid;
	padding-bottom: 5px;
}
.box4content

{
	float: left;
    line-height: 1.6;
	padding: 10px 5px 5px 10px;
	width: 565px;
	margin: 0em 0em 2em 0em;
	background-color: #e7ebf9;
	
}

#leftminicol
{
	float: left;
	width: 250px;

}
#rightminicol
{
	float: left;
	width: 270px;
	padding-left: 3em;
}

.padding
{
	padding-bottom: .5em;
	padding-top: .3em;
}

.issueslist
{
	padding-top: .5em;
	padding-left: 4em;
}



.bluetriangle2 ul li
{
        background: url("images/global/blue-triangle-right.png") no-repeat 0 .5em;
        padding-left: 1.5em;	
		line-height: 2em;
		color: #982600;
		margin-left: .5em;
}



/* ----------------- */
/* Journal Home page */
/* ----------------- */
#journalcol1
{
        
    float: left;
	width: 68%;
	margin: 0em 0em 0em .4em; 
    display: block;
	padding: 0em .5em 0em 1em;
/*  background: url(images/global/journalhpbackground.png) no-repeat; */
	height: 100%;
        }
		
#journalcover
{
	float: left;
}
#journalmetadata
{
	float: left;
	padding-left: 1em;
	width: 420px;
}
#journaldescription
{
	
	padding-left: 1em;
}

.calls
{
	position: relative;
	left: 29em;
	top: 6em;
	width: 115px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.jnlliststyle
{
	
	margin: .2em .7em 1em .6em;
	list-style: none;
	line-height: 1.9em;
	padding-top: 1em;
}

.jnlliststyle li:first-child
{
        margin-top: 0em;
}

/* -------------------------------------- */
.slidingDiv {
	height: auto;
	background-color: #e7ebf9;
	padding:5px 10px 5px 10px;
	margin-top:10px;
	width: 400px;
	
}

.show_hide {
	display:none;
}	

.noborder
{
   
    border-style: none !important;

}

/* for script to show /hide content */
/* -------------------------------------- */
.slidingDiv_2 {
	height: auto;
	background-color: #e7ebf9;
	padding:5px 10px 5px 10px;
	margin-top:10px;
	width: auto;
	
}

.show_hide_2 {
	display:none;
}	

/* -------------------------------------- */
.slidingDiv_3 {
	height: auto;
	background-color: #ffffff;
	padding:5px 10px 5px 10px;
	margin-top:10px;
	width: auto;
	
}

.show_hide_3 {
	display:none;
}	
/* ---------------------------------- */
.slidingDiv_4 {
	height: auto;
	padding:1px 1px 1px 1px;
	width: auto;
	
}

.show_hide_4 {
	display:none;
}	
/* ---------------------------------- */


.slidingDiv_5 {
	height: auto;
	padding:1px 1px 1px 1px;
	width: auto;
	
}

.show_hide_5 {
	display:none;
}	
/* ---------------------------------- */



#issues
{
	float: right;
	width: 70px;
}

.greysmallrectangle
{
	background: url(images/global/xgreyrectangle.png) no-repeat;
	height: 59px;
	width: 244px;
	margin: 1em 0em 1em 0em;
}
.smallbullet 
{
        padding-left: 1.5em;
        line-height: 1.5em;
		color: #222;
		
}
		
.smallbullet2 
{
        padding-left: 2.5em;
        line-height: 1.5em;
		color: #222;
		
}		
		
.orangetriangle li
{
        background: url("images/global/orange-triangle-right.png") no-repeat 0 .25em; 
		padding-left: 1.5em;
        line-height: 1.5em;
		color: #222;
		list-style: none;
		}

.downblackarrow li
{
        background: url("images/global/downblackarrow.png") no-repeat 0 .25em; 
		padding-left: 1.5em;
        line-height: 1.5em;
		color: #222;
		list-style: none;
		}

.downwardarrow li
{
        background: url("images/global/downwardarrow.png") no-repeat 0 .25em; 
		padding-left: 1.5em;
        line-height: 1.5em;
		color: #222;
		list-style: none;
}

#palerectangle2
{
	background: url(images/global/palerectangle.png) no-repeat;
	height: 117px;
	width: 282px;
	padding: 1.5em .5em .5em 0em;
	text-align: center;
	margin-left: 11em;
}
.heading
{
		font-size: 1.125em;
		color: #039;
		
		font-weight: bold;
}


.journalh2
{
	border-bottom: 1px dotted;
	font-size: 1.5em;
	font-weight: normal;
	padding: .6em 0em .4em 0em;
	width: 200px;
	/* width: 247px; */
	margin-left: .5em;
	margin-bottom: 0em;
}


/* Skip */
#skip a
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
#skip a:focus
{
position:static;
width:auto;
height:auto;
}


/* ----------------- */
/* FOOTER*/
/* ----------------- */

#footer
{
margin-top: .5em; 
padding: .5em .3em 1em .3em; 
background-color: #b3dced; 
text-align: center;

}

#footer a
{
padding: .8em;
}
